/**
* Padding util classes
*/

.p-0 {
  padding: 0;
}

.p-1 {
  padding: var(--padding-1);
}

.p-2 {
  padding: var(--padding-2);
}

.p-3 {
  padding: var(--padding-3);
}

.p-4 {
  padding: var(--padding-4);
}

.p-5 {
  padding: var(--padding-5);
}

.p-6 {
  padding: var(--padding-6);
}

.p-7 {
  padding: var(--padding-7);
}

.p-8 {
  padding: var(--padding-8);
}

/**
* Padding vertical
*/

.p-v-0 {
  padding-top: 0;
  padding-bottom: 0;
}

.p-v-1 {
  padding-top: var(--padding-1);
  padding-bottom: var(--padding-1);
}

.p-v-2 {
  padding-top: var(--padding-2);
  padding-bottom: var(--padding-2);
}

.p-v-3 {
  padding-top: var(--padding-3);
  padding-bottom: var(--padding-3);
}

.p-v-4 {
  padding-top: var(--padding-4);
  padding-bottom: var(--padding-4);
}

.p-v-5 {
  padding-top: var(--padding-5);
  padding-bottom: var(--padding-5);
}

.p-v-6 {
  padding-top: var(--padding-6);
  padding-bottom: var(--padding-6);
}

.p-v-7 {
  padding-top: var(--padding-7);
  padding-bottom: var(--padding-7);
}

.p-v-8 {
  padding-top: var(--padding-8);
  padding-bottom: var(--padding-8);
}

/**
* Padding horizontal
*/

.p-h-0 {
  padding-left: 0;
  padding-right: 0;
}

.p-h-1 {
  padding-left: var(--padding-1);
  padding-right: var(--padding-1);
}

.p-h-2 {
  padding-left: var(--padding-2);
  padding-right: var(--padding-2);
}

.p-h-3 {
  padding-left: var(--padding-3);
  padding-right: var(--padding-3);
}

.p-h-4 {
  padding-left: var(--padding-4);
  padding-right: var(--padding-4);
}

.p-h-5 {
  padding-left: var(--padding-5);
  padding-right: var(--padding-5);
}

.p-h-6 {
  padding-left: var(--padding-6);
  padding-right: var(--padding-6);
}

.p-h-7 {
  padding-left: var(--padding-7);
  padding-right: var(--padding-7);
}

.p-h-8 {
  padding-left: var(--padding-8);
  padding-right: var(--padding-8);
}
