@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap");

* {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-1: rgb(31, 31, 39);
  --color-2: #f3f4f6;
}

section {
  padding-bottom: 1rem;
  border-bottom: 5px solid red;
}
/* ------------------------------ */
.avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

/* ------------------------------ */

.alert {
  width: fit-content;
  border: 1px solid #9ca3af;
  padding: 0.2rem 0.5rem;
  background-color: #f9fafb;
  font-size: 0.9em;
}

.alert-success {
  border: 1px solid #34d399;
  background-color: #eff6ff;
}

.alert-warn {
  border: 1px solid #f87171;
  background-color: #fef2f2;
}

/* ------------------------------ */

.icon {
  width: 40px;
  height: 40px;
}

.icon > svg {
  width: 100%;
  height: auto;
}

/* ------------------------------- */

.badge-icon {
  font-size: 0.6em;
  position: relative;
  bottom: 35px;
  left: 20px;
  font-weight: bold;
  background-color: red;
  width: 14px;
  height: 14px;
  color: white;
  text-align: center;
  font-weight: bold;
  border-radius: 50%;
}

.badge-avatar {
  font-size: 0.6em;
  position: relative;
  bottom: 58px;
  left: 35px;
  font-weight: bold;
  background-color: red;
  width: 14px;
  height: 14px;
  color: white;
  text-align: center;
  font-weight: bold;
  border-radius: 50%;
}
/* ------------------------------- */

.btn-primary {
  background-color: #dc2626;
  color: var(--color-2);
  border: none;
  border-radius: 5px;
  width: 70px;
  height: 30px;
  font-size: 0.9rem;
}

.btn-secondary {
  background-color: rgb(31, 31, 39);
  color: var(--color-2);
  border: none;
  border-radius: 5px;
  width: 80px;
  height: 30px;
  font-size: 0.9rem;
}

.btn-primary:hover {
  color: #1f2937;
  background-color: #f87171;
}

.btn-primary:focus {
  outline: none;
  background-color: #dc2626;
  color: var(--color-2);
}

.btn-link {
  border: 1px solid var(--color-1);
  background-color: inherit;
  color: red;
  text-decoration: underline;
  border-radius: 5px;
  width: 70px;
  height: 30px;
  font-weight: 600;
}

.btn-link:hover {
  border: 1px solid #1f2937;
  text-decoration-color: #1f2937;
}

.btn-link:focus {
  outline: none;
  border: 1px solid var(--color-1);
  text-decoration-color: inherit;
}

.btn__icon {
  background-color: inherit;
}

.btn__icon:hover {
  padding-bottom: 3px;
  border-bottom: 4px solid var(--color-2);
}

.btn__icon:focus {
  outline: none;
  border-bottom: none;
}

.btn-float {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  width: 50px;
  height: 50px;
  background-color: inherit;
  border-radius: 50%;
  border: 1px solid red;
  font-weight: 600;
  padding: 2px 0 0 10px;
}

.btn-float:focus {
  outline: none;
}

/* -------------------------------- */

.card {
  width: 200px;
  height: 300px;
  padding: 0.8rem;
  border-radius: 5px;
  box-shadow: 0 0 10px #d1d5db;
}

.card-badge {
  position: relative;
  bottom: 305px;
  left: 185px;
  background-color: red;
  height: 22px;
  width: 22px;
  border-radius: 50%;
  text-align: center;
  color: white;
  font-weight: bold;
}

/* not part of library */

.title__product {
  margin-top: 0.5rem;
  font-size: 0.9rem;
  font-weight: bold;
}

.price__product {
  margin-top: 0.5rem;
  font-weight: bold;
}
/* not part of library */

.card-text-overlay {
  font-weight: bold;
  width: fit-content;
  background-color: red;
  padding: 0.1rem 0.3rem;
  border-radius: 5px;
  color: white;
  font-size: 0.9rem;
  position: relative;
  bottom: 280px;
  right: 5px;
}

.card-horizontal {
  width: 300px;
  height: 200px;
}

/* ------------------- */

.img__responsive {
  width: 100%;
  height: auto;
}

/* not part of lib */
.img__container {
  width: 300px;
}

.img__round {
  border-radius: 20px;
}

/* ------------------- */

.textbox {
  width: 250px;
  padding: 0.5rem;
  resize: none;
  border-radius: 5px;
  background-color: var(--color-2);
}

.textbox:focus {
  outline: none;
}

/* ---------------- */

.list__spaced {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  padding-inline-start: 0;
}

.list__stacked {
  list-style: none;
  padding-inline-start: 0;
  display: flex;
  flex-direction: column;
}
/* ---------------- */

.nav__desktop {
  width: 100%;
}

.nav__list {
  justify-content: space-around;
}

.nav__item {
  border-right: 1px solid black;
  width: 100%;
  text-align: center;
}

.nav__item:last-child {
  border: none;
}

/* ---------------------- */

.modal__bg {
  width: 100vw;
  height: 100vh;
  background-color: #ffffffb4;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}

.modal {
  background-color: white;
  width: 50vw;
  height: 60vh;
  border: 1px solid var(--color-2);
  border-radius: 5px;
  box-shadow: 0 0 10px #d1d5db;
  padding: 1rem;
}

/* ----------------------- */

.grid__two {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.grid__three {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 1rem;
}

/* ----------------------- */

.heading__1 {
  font-weight: bold;
  font-size: 1.5rem;
  margin: 0.5rem 0;
}

.heading__2 {
  font-weight: bold;
  font-size: 1.3rem;
  margin: 0.3rem 0;
}

.heading__3 {
  font-weight: bold;
  font-size: 1.2rem;
  margin: 0.2rem 0;
}

.txt-small {
  font-size: 0.7rem;
}

.txt-grey {
  color: grey;
}

.txt-center {
  text-align: center;
}

/* ------------------- */

.toast {
  border: 1px solid var(--color-2);
  padding: 0.5rem;
  width: fit-content;
  display: none;
}

.btn__hide-toast {
  margin-left: 1rem;
  background-color: inherit;
  border: 4px solid var(--color-2);
  border-radius: 5px;
}
