/* .App {
  margin: auto;
  display: grid;
  grid-template-rows: 60px auto;
  grid-template-columns: 400px auto;
  grid-template-areas:
    "nav nav"
    "aside main";
  height: 100vh;
} */

@media screen and (min-width: 768px) {
  .App {
    margin: auto;
    display: grid;
    grid-template-rows: 60px auto;
    grid-template-columns: 400px auto;
    grid-template-areas:
      "nav nav"
      "aside main";
    height: 100vh;
  }
}


